version: 2 

jobs: 
  build:  
    docker: 
      - image: circleci/python:3.7
    steps: 
      - checkout 
      - run: sudo chown -R circleci:circleci /usr/local/bin
      - run: sudo chown -R circleci:circleci /usr/local/lib/python3.7/site-packages
      - run: sudo apt-get update && sudo apt-get install build-essential cmake -y
      - run: sudo apt-get install libgtest-dev
      - restore_cache:
          key: uptune-{{ checksum "CMakeLists.txt" }}
      - run:
          command: |
            cd /usr/src/gtest
            sudo cmake CMakeLists.txt
            sudo make
            sudo cp *.a /usr/lib
            cd ~/project/
            pip install cython
            ./install.sh

